@import 'src/assets/variables';

.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $component-background-color;
  border-radius: 10px;
  width: 210px;
  height: 350px;
  padding-bottom: 20px; 
  
  &Name {
    position: relative;
    font-size: 20px;
    padding: 10px 10px 0px 10px;
    color: $black;
  }
  
  &Job {
    top: -15px;
    position: relative;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    color: $grey;
  }
  
}


