$background-color: #F3F2EF;
$component-background-color: white;
$search-background: #EEF3F8;
$profile-background: #A0B4B7;
$black: black;
$white: white;
$dark-grey: #666666;
$grey: grey;
$soft-grey: #bbb;
$red: #BF213E;
$soft-red: #ee1b41;
$blue: #1a75ff;
$dark-blue: #0165fd;

$linkedin-blue: #0077B7;
$linkedin-blue-hover: #005e91;